<!DOCTYPE html>
<html lang="en" ng-app="tokenApp">
<head>
	<title>Jumpcut Studios Coding Challenge</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
	<script src="/javascripts/tokenApp.js"></script>
	<script src="/javascripts/tokenFactories.js"></script>
	<script src="/javascripts/tokenControllers.js"></script>
	<script src="/javascripts/jQuery.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){

		var href = window.location.href;
		var code = href.substr((href.indexOf('&code=')+6), href.length);
		$('#code').val(code);

	    var scope = angular.element($("#code")).scope();
	    scope.$apply(function(){
	        scope.code = code;
	    });

		$('#getAccessCode').trigger('click');
		top.window.opener.location ='http://localhost:3000/#/paypal_review_order';
	})
	</script>
</head>
<body ng-controller="tokens">
	<p ng-bind="hello"></p>
	<input id="code" type="hidden" name="code" ng-model="code">
	<button id="getAccessCode" ng-click='getAccessToken()'>Get Acess Code</button>
</body>
</html>