<div ng-controller="carts">
	<div class="row">
		<div class="small-12 columns">
			<ul class="breadcrumbs">
				<li class="current"><a href="#/">Cart</a></li>
				<li class="unavailable">Payment Options</li>
				<li class="unavailable">Review Order</li>
				<li class="unavailable">Order Confirmation</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<h2 ng-bind="content_title"></h2>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<table>
				<thead>
					<tr>
						<th>Product</th>
						<th>Price</th>
						<th>Quanitity</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="product in products">
						<td ng-bind="product.name"></td>
						<td>${{product.price}}</td>
						<td ng-bind="product.quantity"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<p class="chargeSummaryLabel">Charge Summary</p>
		</div>
	</div>
	<div class="row">
		<div class="small-3 columns">
			<p class="chargeSummaryLabel">Item Subtotal</p>
		</div>
		<div class="small-9 columns">
			<p>$<span ng-bind="chargeSummary.subtotal"></span></p>
		</div>
	</div>
	<div class="row">
		<div class="small-3 columns">
			<p class="chargeSummaryLabel">Tax</p>
		</div>
		<div class="small-9 columns">
			<p>$<span ng-bind="chargeSummary.tax"></span></p>
		</div>
	</div>
	<div class="row">
		<div class="small-3 columns">
			<p class="chargeSummaryLabel">Shipping</p>
		</div>
		<div class="small-9 columns">
			<p>$<span ng-bind="chargeSummary.shipping"></span></p>
		</div>
	</div>
	<div class="row">
		<div class="small-3 columns">
			<p class="chargeSummaryLabel">Item Total</p>
		</div>
		<div class="small-9 columns">
			<p>$<span ng-bind="chargeSummary.sum"></span></p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<a href="#/credit_card"><button>Pay with Credit Card</button></a>
			<a href="#/paypal"><button>Pay with Paypal</button></a>
			<p ng-bind="orderPlaced"></p>
		</div>
	</div>
</div>