<div ng-controller="payments">
	<div class="row">
		<div class="small-12 columns">
			<ul class="breadcrumbs">
				<li><a href="#/">Cart</a></li>
				<li class="current"><a href="#/credit_card">Payment Options</a></li>
				<li class="unavailable">Review Order</li>
				<li class="unavailable">Order Confirmation</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-6 columns">
			<h3>Enter credit card information</h3>
			<form>
				<div class="row collapse">
					<div class="small-4 columns">
						<span class="prefix"><label for="ccNumber">Credit Card Number</label></span>
					</div>
					<div class="small-8 columns">
						<input ng-model="credit_card.number" type="number" id="ccNumber" placeholder="Numbers Only">
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<label>Card Type:</label>
					</div>
				</div>
				<div class="row">
					<div class="small-3 columns">
						<img src="/images/visa.png" alt="Visa Card">
					</div>
					<div class="small-3 columns">
						<img src="/images/mastercard.png" alt="Mastercard Card">
					</div>
					<div class="small-3 columns">
						<img src="/images/discover.png" alt="Discover Card">
					</div>
					<div class="small-3 columns">
						<img src="/images/amex.png" alt="American Express Card">
					</div>
				</div>
				<div class="row">
					<div class="small-3 columns text-center">
						<input ng-model="credit_card.type" type="radio" name="credit_card" value="visa">
					</div>
					<div class="small-3 columns text-center">
						<input ng-model="credit_card.type" type="radio" name="credit_card" value="mastercard">
					</div>
					<div class="small-3 columns text-center">
						<input ng-model="credit_card.type" type="radio" name="credit_card" value="discover">
					</div>
					<div class="small-3 columns text-center">
						<input ng-model="credit_card.type" type="radio" name="credit_card" value="amex">
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<label for="expDateMonth">Expiration Date:</label>
					</div>
				</div>
				<div class="row">
					<div class="small-3 medium-3 columns">
						<select ng-model="credit_card.expire_month" name="expDateMonth" id="expDateMonth">
							<option class="show-for-medium-only" value="">MM</option>
							<option class="hide-for-medium-only" value="">Month</option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
						</select>
					</div>
					<div class="small-3 medium-3 columns">
						<select ng-model="credit_card.expire_year" name="expDateYear" id="expDateYear" ng-model="expDateYear" ng-options="year for year in expDateYYRange track by year">
							<option class="show-for-medium-only" value="">YY</option>
							<option class="hide-for-medium-only" value="">Year</option>
						</select>
					</div>
					<div class="small-6 medium-6 columns">
						<div class="row collapse">
							<div class="small-4 columns">
								<span class="prefix"><label for="cvv2">CVV2</label></span>
							</div>
							<div class="small-8 columns">
								<input ng-model="credit_card.cvv2" type="number" name="cvv2" id="cvv2">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<label>Cardholder Name</label>
					</div>
				</div>
				<div class="row">
					<div class="small-6 columns">
						<div class="row collapse">
							<div class="small-4 columns">
								<span class="prefix"><label for="first_name">First</label></span>
							</div>
							<div class="small-8 columns">
								<input ng-model="credit_card.first_name" type="text" id="first_name">
							</div>
						</div>
					</div>
					<div class="small-6 columns">
						<div class="row collapse">
							<div class="small-4 columns">
								<span class="prefix"><label for="last_name">Last</label></span>
							</div>
							<div class="small-8 columns">
								<input ng-model="credit_card.last_name" type="text" id="last_name">
							</div>
						</div>
					</div>
				</div>
				<h3>Billing Address</h3>
				<div class="row collapse">
					<div class="small-3 columns">
						<span class="prefix"><label for="address1">Address 1</label></span>
					</div>
					<div class="small-9 columns">
						<input ng-model="credit_card.billing_address.ine1" type="text" name="address1" id='address1'>
					</div>
				</div>
				<div class="row collapse">
					<div class="small-3 columns">
						<span class="prefix"><label for="address2">Address 2</label></span>
					</div>
					<div class="small-9 columns">
						<input ng-model="credit_card.billing_address.line2" type="text" name="address2" id="address2">
					</div>
				</div>
				<div class="row collapse">
					<div class="small-3 columns">
						<span class="prefix"><label for="city">City</label></span>
					</div>
					<div class="small-9 columns">
						<input ng-model="credit_card.billing_address.city" type="text" name="city" id="city">
					</div>
				</div>
				<div class="row collapse">
					<div class="small-3 columns">
						<span class="prefix"><label for="postal_code">ZIP/Postal Code</label></span>
					</div>
					<div class="small-9 columns">
						<input ng-model="credit_card.billing_address.postal_code" type="text" id="postal_code">
					</div>
				</div>
				<div class="row collapse">
					<div class="small-3 columns">
						<span class="prefix"><label for="state">State</label></span>
					</div>
					<div class="small-9 columns">
						<select ng-model="credit_card.billing_address.state" name="state" id="state" ng-options="state.name for state in states track by state.code">
							<option value=""> -- Select State -- </option>
						</select>
					</div>
				</div>
				<div class="row collapse">
					<div class="small-3 columns">
						<span class="prefix">
							<label for="country">Country</label>
						</span>
					</div>
					<div class="small-9 columns">
						<select ng-model="credit_card.billing_address.country_code" name="country" id="country" ng-options="country.name for country in countries track by country.code">
							<option value=""> -- Select Country -- </option>
						</select>
					</div>
				</div>
				<h3>Contact Information</h3>
				<div class="row collapse">
					<div class="small-3 columns">
						<span class="prefix"><label for="email">Email</label></span>
					</div>
					<div class="small-9 columns">
						<input ng-model="payer_info.email" type="email" id="email">
					</div>
				</div>
				<div class="row collapse">
					<div class="small-3 columns">
						<span class="prefix"><label for="phone">Phone</label></span>
					</div>
					<div class="small-9 columns">
						<input ng-model="payer_info.phone" type="number" id="phone">
					</div>
				</div>
			</form>
			<div class="row">
				<div class="small-12 columns">
					<button ng-click="printer()">Testing</button>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 columns">
			<h3>Your cart:</h3>
			<div class="row">
				<div class="small-12 columns">
					<table>
						<thead>
							<tr>
								<th>Product</th>
								<th>Price</th>
								<th>Quanitity</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="product in products">
								<td ng-bind="product.name"></td>
								<td>${{product.price}}</td>
								<td ng-bind="product.quantity"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns text-right">
			<a href="#/">Cancel</a>
			<a href="#/reviewPaymentInfo"><button>Review Payment Information</button></a>
		</div>
	</div>
</div>