<div ng-controller="authorize">
	<div class="row">
		<div class="small-12 columns">
			<ul class="breadcrumbs">
				<li><a href="#/">Cart</a></li>
				<li>Review Order</li>
				<li class="current">Order Confirmation</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-6 columns">
			<h3>Thank you for your order!</h3>
			<h4>Your OrderID is: <span ng-bind="payment.id"></span></h4>
			<p>View your Order via Paypal by clicking <a ng-href="{{payment.links[0].href}}">HERE</a></p>
			<p>Your order was placed: <span ng-bind="payment.create_time | date: 'medium'"></span></p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<h5>Shipping Address</h5>
			<p><span ng-bind="payment.payer.payer_info.first_name"></span> <span ng-bind="payment.payer.payer_info.last_name"></span></p>
			<p><span ng-bind="payment.payer.payer_info.shipping_address.line1"></span></p>
			<p><span ng-bind="payment.payer.payer_info.shipping_address.line2"></span></p>
			<p><span ng-bind="payment.payer.payer_info.shipping_address.city"></span>, <span ng-bind="payment.payer.payer_info.shipping_address.state"> <span ng-bind="payment.payer.payer_info.shipping_address.postal_code"></span></p>
			<p><span ng-bind="payment.payer.payer_info.shipping_address.country_code"></span></p>

		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<table>
				<thead>
					<tr>
						<th>Product Name</th>
						<th>SKU</th>
						<th>Price</th>
						<th>Quantity</th>
						<th>Subtotal</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in payment.transactions[0].item_list.items">
						<td><p><span ng-bind="item.name"></span></p></td>
						<td><p><span ng-bind="item.sku"></span></p></td>
						<td><p>$ <span ng-bind="item.price"></span></p></td>
						<td><p><span ng-bind="item.quantity"></span></p></td>
						<td><p>$ <span ng-bind="parseInt(item.quantity) * parseInt(item.price)"></span></p></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns text-right">
			<p>Subtotal: $ <span ng-bind="payment.transactions[0].amount.details.subtotal"></span></p>
			<p>Shipping: $ <span ng-bind="payment.transactions[0].amount.details.shipping"></span></p>
			<p>Tax: $ <span ng-bind="payment.transactions[0].amount.details.tax"></span></p>
			<p class="chargeSummaryLabel">Total: $ <span ng-bind="payment.transactions[0].amount.total"></span></p>
		</div>
	</div>
</div>