<div ng-controller="paypal">
	<div class="row">
		<div class="small-12 columns">
			<ul class="breadcrumbs">
				<li><a href="#/">Cart</a></li>
				<li class="current">Review Order</li>
				<li class="unavailable">Order Confirmation</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-6 columns">
			<h3>Shipping Address:</h3>
			<p><span ng-bind="payer.given_name"></span> <span ng-bind="payer.family_name"></span></p>
			<p><span ng-bind="payer.address.street_address"></span></p>
			<p><span ng-bind="payer.address.locality"></span>, <span ng-bind="payer.address.regrion"></span> <span ng-bind="payer.address.postal_code"></span></p>
		</div>
		<div class="small-12 medium-6 columns">
			<h3>Your cart:</h3>
			<div class="row">
				<div class="small-12 columns">
					<table>
						<thead>
							<tr>
								<th>Product</th>
								<th>Price</th>
								<th>Quanitity</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="product in products">
								<td ng-bind="product.name"></td>
								<td>${{product.price}}</td>
								<td ng-bind="product.quantity"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<p class="chargeSummaryLabel">Charge Summary</p>
				</div>
			</div>
			<div class="row">
				<div class="small-6 columns">
					<p class="chargeSummaryLabel">Item Subtotal</p>
				</div>
				<div class="small-6 columns">
					<p>$<span ng-bind="chargeSummary.subtotal"></span></p>
				</div>
			</div>
			<div class="row">
				<div class="small-6 columns">
					<p class="chargeSummaryLabel">Tax</p>
				</div>
				<div class="small-6 columns">
					<p>$<span ng-bind="chargeSummary.tax"></span></p>
				</div>
			</div>
			<div class="row">
				<div class="small-6 columns">
					<p class="chargeSummaryLabel">Shipping</p>
				</div>
				<div class="small-6 columns">
					<p>$<span ng-bind="chargeSummary.shipping"></span></p>
				</div>
			</div>
			<div class="row">
				<div class="small-6 columns">
					<p class="chargeSummaryLabel">Item Total</p>
				</div>
				<div class="small-6 columns">
					<p>$<span ng-bind="chargeSummary.sum"></span></p>
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="small-12 columns text-right">
			<a href="#/">Cancel</a>
			<button ng-click="order()">Place Order</button>
		</div>
	</div>
</div>