<div ng-controller="payments">
	<div class="row">
		<div class="small-12 columns">
			<ul class="breadcrumbs">
				<li><a href="#/">Cart</a></li>
				<li><a href="#/paypal">Payment Options</a></li>
				<li class="current">Review Order</li>
				<li class="unavailable">Order Confirmation</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-6 columns">
			<h1>MADE IT TO THE REVIEW ORDER PAGE !YESSSSSS</h1>
			<h3 ng-bind="code"></h3>
		</div>
		<div class="small-12 medium-6 columns">
			<h3>Your cart:</h3>
			<div class="row">
				<div class="small-12 columns">
					<table>
						<thead>
							<tr>
								<th>Product</th>
								<th>Price</th>
								<th>Quanitity</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="product in products">
								<td ng-bind="product.name"></td>
								<td>${{product.price}}</td>
								<td ng-bind="product.quantity"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns text-right">
			<a href="#/">Cancel</a>
			<a href="#/order_confirmation"><button>Place Order</button></a>
		</div>
	</div>
</div>